/* Navbar supérieure */
.avantnav {
  background: linear-gradient(to right, #b08467, #96562e);
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 7px 10px;
  gap: 15px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  padding-right: 80px; /* Décale les boutons vers la gauche */
}

/* Boutons */
.avantnav-button {
  background: white;
  color: black;
  border: 2px solid black;
  padding: 8px 20px;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
  width: 200px; /* Taille fixe pour les boutons */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tel-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px; /* Espace entre l'icône et le texte */
  filter: invert(100%); /* Applique la couleur noire à l'icône */
}

.avantnav-button:hover {
  background: #ecdede;
}

@media (max-width: 700px) {
  .avantnav {
    justify-content: center; /* Centre le contenu */
    padding-right: 0;
  }

  .avantnav-button {
    width: 180px; /* Réduit la largeur des boutons sur les petits écrans */
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .avis-button {
    display: none;
  }

  .avantnav {
    justify-content: center; /* Centre le bouton */
  }

  .avantnav-button {
    width: 250px; /* Définit une largeur de 400px */
    text-align: center;
  }
}
