/* Navbar supérieure */
.avantnav {
  background: linear-gradient(to right, #b08467, #96562e);
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  gap: 10px;
  position: fixed; /* Fixe Avantnav en haut de la page */
  top: 0; /* Place Avantnav au tout début de la fenêtre */
  width: 100%;
  z-index: 10;
}

.avantnav-button {
  background: white;
  color: black;
  border: 2px solid black;
  padding: 5px 15px;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.avantnav-button:hover {
  background: #ecdede;
}
