/* Conteneur principal avec des marges pour centrer */
.hero {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  padding: 100px 20px;
  overflow: hidden;
}

.hero-content {
  position: relative;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Styles pour les images l'une au-dessus de l'autre */
.hero-image {
  display: flex;
  flex-direction: column; /* Empile les images verticalement */
  align-items: center;
  gap: 10px; /* Espace entre les images */
}

.main-image {
  height: 400px;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  margin-left: 200px;
  margin-top: 50px;
}

.secondary-image {
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  position: absolute;
  margin-right: 150px;
  margin-top: 100px;
}

.hero-overlay {
  position: relative;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  max-width: 600px;
  margin-top: -50px;
  z-index: 3;
}

.hero-overlay h1 {
  font-size: 2rem;
  color: #f9c947;
  margin: 0 0 10px;
}

.hero-overlay p {
  font-size: 1rem;
  margin: 10px 0;
}

.contact-button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #f9c947;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color: #d8a536;
}

@media (max-width: 500px) {
  .hero {
    padding: 100px 10px;
    display: flex;
    flex-direction: column; /* Aligne le contenu verticalement */
    align-items: center;
    justify-content: center;
  }

  .hero-content {
    text-align: center;
    align-items: center;
  }

  .hero-image {
    align-items: center; /* Centre les images */
  }

  .main-image {
    display: none; /* Cache l'image secondaire sur mobile */
  }
  .secondary-image {
    max-width: 100%;
    margin: 0 auto; /* Centre l'image secondaire */
    margin-top: 20px;
  }

  .hero-overlay {
    padding: 15px 20px;
    max-width: 90%;
    margin-top: 60px; /* Espace entre l'image et le texte */
    text-align: center; /* Centre le texte */
  }

  .hero-overlay h1 {
    font-size: 1.2rem;
  }

  .hero-overlay p {
    font-size: 0.8rem;
  }

  .contact-button {
    padding: 8px 15px;
    font-size: 0.9rem;
    margin: 10px auto 0; /* Centre le bouton */
  }
}
