.contact {
  margin: 80px auto;
  max-width: 90%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-direction: row;
}

.contact-col {
  flex: 1;
  text-align: left;
  padding-right: 40px;
}

.contact-form {
  flex: 1;
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  max-width: 600px;
  margin: auto;
}

.contact-form form input,
.contact-form form textarea {
  border-radius: 10px;
  width: 100%;
  border: none;
  background: transparent;
  box-shadow: none;
  padding: 15px 0;
}

.contact-form form textarea {
  grid-column: span 2;
  height: 100px;
}

.contact-form form .full-width {
  grid-column: span 2;
}

.contact-button {
  padding: 12px 20px;
  font-size: 1rem;
  background-color: #f9c947;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  grid-column: span 2;
}

.contact-button:hover {
  background-color: #d8a536;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  padding: 5px 15px;
  width: 100%;
}

.input-group-msg {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  padding: 5px 15px;
  grid-column: span 2; /* Permet à la case du message de prendre toute la largeur */
}

.input-group img {
  width: 20px;
  height: 20px;
  opacity: 0.7;
  flex-shrink: 0; /* Empêche l'icône de rétrécir */
}

.input-group input,
.input-group textarea {
  border: none;
  outline: none;
  padding: 15px 0;
  width: 100%;
  background: transparent;
  font-size: 16px;
}

.input-group textarea {
  resize: none;
  height: 100px;
}

.required-fields {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
  text-align: left;
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  grid-column: span 2;
  justify-content: flex-start;
}

.checkbox-group input {
  width: 16px;
  height: 16px;
  margin-left: -45%;
}

.checkbox-group label {
  margin-left: -40%;
}

@media screen and (max-width: 768px) {
  .contact {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .contact-col {
    text-align: center;
    padding-right: 0;
    margin-bottom: 20px;
  }
  .contact-form form {
    grid-template-columns: 1fr;
  }
  .contact-form form textarea,
  .contact-form form .full-width,
  .contact-button {
    grid-column: span 1;
  }
  .checkbox-group {
    justify-content: flex-start;
  }

  .checkbox-group input {
    margin-left: 0; /* Réinitialise la marge pour éviter un trop grand décalage */
  }

  .checkbox-group label {
    margin-left: -10%;
  }
}
