.doubleimage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5; /* Couleur d'arrière-plan légèrement grise */
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  max-width: 1200px;
}

.double-gauche {
  flex: 1;
  padding-left: 20px;
}

.double-gauche h3 {
  font-size: 24px;
  color: #4f4f4f;
  font-weight: bold;
  margin-bottom: 10px;
}

.double-gauche h2 {
  font-size: 28px;
  color: black;
  font-weight: bold;
  margin-bottom: 15px;
}

.double-gauche p {
  font-size: 16px;
  line-height: 1.6;
  color: rgb(95, 93, 93);
  text-align: justify;
}

.double-droite {
  flex: 1;
  display: flex;
  justify-content: center;
}

.doubleimage-img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 800px) {
  .doubleimage {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .double-gauche {
    padding-left: 0;
  }
  .double-gauche h3,
  .double-gauche h2,
  .double-gauche p {
    text-align: center;
  }
  .double-droite {
    margin-bottom: 20px; /* Ajout d'un espace entre l'image et le texte */
    width: 100%;
  }
  .doubleimage-img {
    max-width: 90%; /* Réduit légèrement la largeur de l'image pour les petits écrans */
    margin: 0 auto; /* Centre l'image dans son conteneur */
  }
}
