nav {
  width: 100%;
  background: white;
  color: black;
  padding: 4px 0;
  position: fixed;
  top: 30;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
}

.logo {
  width: 60px;
  height: 60px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 5px 20px;
  font-size: 16px;
}

nav ul li a {
  text-decoration: none; /* Enlève le soulignement par défaut des liens */
  position: relative; /* Nécessaire pour positionner la ligne */
}

nav ul li a.active {
  font-weight: bold; /* Optionnel, pour un effet supplémentaire */
}

nav ul li a.active::after {
  content: ""; /* Créer un pseudo-élément */
  position: absolute;
  bottom: -5px; /* Positionner la ligne juste sous le texte */
  left: 0;
  width: 100%;
  height: 2px; /* Hauteur de la ligne */
  background-color: #96562e; /* Couleur de la ligne */
}

nav ul li a:hover {
  color: #000000; /* Change la couleur sur le survol */
  transition: color 0.3s ease;
  font-weight: bold;
}

nav ul li a:hover::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #96562e; /* Ligne colorée sous le lien */
  transition: width 0.3s ease;
}

.menu-icon {
  display: none;
}

/* Sous-menu */
.submenu-container {
  position: relative;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  list-style: none;
  display: none; /* Par défaut, le sous-menu est caché */
  z-index: 20;
}

.submenu.visible {
  display: block; /* Afficher le sous-menu lorsqu'il est visible */
}

.submenu li a {
  text-decoration: none;
  color: black;
}

.submenu li a:hover {
  font-weight: bold;
}

.submenu li {
  padding: 10px 20px;
  transform: translateX(-10px); /* Position initiale décalée */
  opacity: 0; /* Caché au départ */
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.submenu.visible li {
  transform: translateX(0); /* Position normale quand visible */
  opacity: 1; /* Complètement visible */
}

/* Icône de défilement */
.scroll-icon {
  width: 15px;
  height: 15px;
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.submenu-container div {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.submenu-container div:hover {
  color: #000000; /* Change la couleur sur le survol */
  transition: color 0.3s ease;
  font-weight: bold;
}

.submenu-container div:hover ::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #96562e; /* Ligne colorée sous le lien */
  transition: width 0.3s ease;
}

.scroll-icon.rotated {
  transform: rotate(180deg); /* Rotation à 180° lors du clic */
}

@media (max-width: 1000px) {
  nav ul li {
    margin: 10px 15px;
  }
}

@media (max-width: 740px) {
  nav ul {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: #96562e;
    z-index: 10;
    width: 200px;
    padding-top: 70px;
    transition: 0.5s;
  }

  /* Affichage du logo au-dessus du menu sur mobile */
  .logo {
    display: block;
    width: 80px;
    height: 80px;
  }

  nav ul li {
    display: block;
    margin: 25px 30px;
  }

  .menu-icon {
    display: block;
    width: 30px;
    cursor: pointer;
    position: absolute;
    top: 30px; /* Ajustez pour que l'icône ne soit pas trop proche du bord */
    right: 30px; /* Positionnez-le à gauche du menu */
    z-index: 20;
  }

  .hide-mobile-menu {
    right: -200px;
  }

  /* Garde l'effet de survol pour le menu */
  nav ul li a:hover {
    color: #000000;
    font-weight: bold;
  }

  nav ul li a:hover::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    background-color: #96562e;
    transition: width 0.3s ease;
  }

  /* Sous-menu visible sur mobile au survol */
  .submenu {
    position: relative;
    top: 0;
    left: 0;
    box-shadow: none;
    display: none;
    padding: 0;
    background: transparent;
  }

  nav ul li:hover .submenu {
    display: block;
    position: relative;
  }

  .submenu li {
    margin-left: 0;
    transform: translateX(0);
  }

  .submenu.visible {
    display: block;
  }
}
