.aproposdroite {
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.aproposdroite-gauche {
  flex-basis: 56%;
}
.aproposdroite-droite {
  flex-basis: 40%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aproposdroite-img {
  width: 400px; /* Taille plus grande pour la largeur */
  height: 300px; /* Taille plus grande pour la hauteur */
  object-fit: cover; /* Maintient un bon ratio tout en remplissant la zone */
  border-radius: 10px;
}
.aproposdroite h2 {
  font-size: 35px;
  color: black;
  margin: 10px 0;
  max-width: 400px;
}
.aproposdroite p {
  font-size: 1.1rem;
  line-height: 1.5;
  margin: 0 1rem;
  max-width: 800px;
}
@media (max-width: 800px) {
  .aproposdroite {
    flex-direction: column;
    text-align: center;
  }
  .aproposdroite-gauche {
    flex-basis: 90%;
  }
  .aproposdroite-droite {
    flex-basis: 90%;
    margin: 20px;
    order: 2;
  }
  .aproposdroite-img {
    width: 300px; /* Taille fixe pour la largeur sur mobile */
    height: 200px; /* Taille fixe pour la hauteur sur mobile */
    object-fit: cover; /* Maintient le contenu adapté */
    margin-top: 10px;
  }
  .aproposdroite h2 {
    font-size: 28px;
    max-width: 100%;
    margin-bottom: 10px;
  }

  .aproposdroite p {
    font-size: 16px;
    margin: 0;
    line-height: 1.4;
    color: #333;
  }
}
